<div class="w-25 p-3">
  <h2>City details</h2>
  <br>
  <form #editForm="ngForm">
    <div class="form-group" *ngIf="city">
      <!-- <h2>{{city.name | uppercase }}</h2> -->
      <h2>{{ city.name }}</h2>
      <div><span>Id: </span>{{city.id}}</div>
      <div><span>Population: </span>{{city.population}}</div>
      <div><span>Votes: </span>{{city.votes}}</div>
      <div class="form-group">
        <br>
        <label for="changenameInput" class="col-form-label">Change name:</label>
        <input id="changenameInput" name="name" type="text" class="form-control" placeholder="name" 
          [(ngModel)]="city.name" 
          #name="ngModel"
          required/>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Name is required!
          </div>
        </div>
      </div>
      <div class="btn-toolbar mr-2" role="toolbar" aria-label="Toolbar with button group">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!editForm.form.valid">save</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-primary" (click)="goBack()">back</button>
        </div>
      </div>
    </div>
  </form>
</div>