<div class="w-25 p-3">
  <h4>New city</h4>

  <div class="form-group">
    <label for="nameInput" class="col-form-label">Name:</label>
    <input id="nameInput" type="text" class="form-control" placeholder="Enter the name of the new city" #cityName>
  </div>
  <div class="form-group">
    <label for="popluationInput" class="col-form-label">Population:</label>
    <input id="popluationInput" type="text" class="form-control" placeholder="Enter the population of the new city" #cityPopulation>
  </div>
  <div class="btn-toolbar mr-2" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-primary"  (click)="addCity(cityName.value, cityPopulation.value);">Add new city</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <button type="button" class="btn btn-primary"  (click)="goBack()">back</button>
    </div>
  </div>
</div>