<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/cities">Overview</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/search">City search</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/add">New city</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/messages">Log messages</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search in the site..">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
