<div class="w-25 p-3">
  <h4>Overview of all cities</h4>

  <ul class="list-group">
    <li *ngFor="let city of cities"
    class="list-group-item d-flex justify-content-between align-items-center"
    (click)="onSelect(city)"
    [class.selected]="city == selectedCity">
      <a routerLink="/city-detail/{{city.id}}">
        <span>{{city.name}}</span>
      </a>
      <span>
        <button class="btn btn-danger" (click)="delete(city)">x</button>
      </span>
    </li>
  </ul>
</div>


