<div class="form-group w-25 p-3" id="search-component">
  <h4>City search</h4>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Introduce the name of the city to search"
      #searchBox id="search-box" 
      (input)="search(searchBox.value)">

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let city of foundCities$ | async">
            <a routerLink="/city-detail/{{city.id}}">{{city.name}}</a>
        </li>
      </ul>
  </div>
  
  <button class="btn btn-primary" (click)="goBack()">back</button>
</div>