<!-- <h1>{{title}}</h1>
<app-heroes></app-heroes>
<app-messages></app-messages> -->

<div class="form-group w-25 p-3">
  <h4>Log messages</h4>
  <div *ngIf="messageService.messages.length">
    <div *ngFor='let message of messageService.messages'>
      <label>{{message}}</label>
    </div>
    <button
      class="btn btn-warning"
      (click)="messageService.clear()">clear</button>
  </div>
  <div *ngIf="!messageService.messages.length">
    <span>There are no messages!</span>  
  </div>
</div>